.container{
    background-color: #fff;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    transition: all 400ms ease;
}
.pizza_navitem{
    margin-right: 2rem;
}
.pizza_navitem a{
    font-weight: bold;
    color: #000;
    font-size: 0.8rem;
}
.cart i{
    margin-right: 1rem;
}
.pizza_header{
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    width: 60%;
}
.navar_wrap{

}



