.DetailWrapper{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(197, 197, 197, 0.56);
}
.DetailContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #e5dfdf;
    background-color: #fff;
    border-radius: 20px;
    padding: 3rem;
    width: 500px;
}
.DetailItem{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;
}
.DetailItem label{
    margin-bottom: 10px;
}
.DetailItem input{
    height: 40px;
}

.pizza_btn{
    background: #FBB200;
    color: #000;
    font-size: 1.1rem;
    padding: 0.3rem 1.7rem;
    border-radius: 10px;
}